$mobile: 900px;

.intro {
  width: 100%;
}

.intro-background-container {
  background-color: #011048;
  position: relative;
  margin-bottom: 5%;
}

.intro-background-img {
  width: 100%;
  opacity: 0.7;
}

.intro-text-container {
  // border: 1px dashed white;
  width: 30%;
  position: absolute;
  top: 40%;
  left: 10%;
}

.intro-slogan-container {
  //   border: 1px solid white;
  margin-bottom: 5%;
}

.intro-slogan {
  font-size: 5rem;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

.intro-btn-container {
  display: flex;
  justify-content: flex-start;
}

.intro-btn {
  height: 6vh;
  width: 41%;
  background-color: #f5931e;
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

.intro-contact-box-container {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0%;
}

.intro-contact-box {
  background-color: #011048;
  height: 100%;
  opacity: 0.9;
}

.intro-contact-box-text {
  height: 80%;
  // border: 1px dashed white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-contact-box-text-large {
  font-size: 2.9rem;
}

.intro-contact-box-number-div {
  // border: 1px dashed white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
}

.intro-contact-box-phone-icon {
  font-size: 3.8rem;
  margin-right: 2%;
}

@media (max-width: $mobile) {
  .intro-background-container {
    height: 80vh;
  }

  .intro-background-img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    // clip-path: inset(0 0 0 10%);
  }

  .intro-text-container {
    width: 70%;
  }

  .intro-slogan {
    font-size: 2.5rem;
  }

  .intro-btn {
    height: 30px;
    font-size: 12px;
  }

  .intro-contact-box-text {
    // border: 1px dashed white;
  }

  .intro-contact-box-text-large {
    font-size: 1.8rem;
  }
}
