$mobile: 900px;

// index.js

.contact {
  //   border: 1px dashed black;
  width: 100%;
  background-color: #011048;
  color: #fff;
}

.contact-contact {
  display: flex;
  padding: 2% 15%;
}

.contact-left-side {
  // border: 1px dashed white;
  width: 30%;
  margin-right: 3%;
}

.contact-headline {
  font-size: 3.7rem;
  margin-bottom: 4%;
}

.contact-phone-container {
  display: flex;
  //   border: 1px dashed black;
  align-items: center;
  margin-bottom: 4%;
}

.contact-icon {
  font-size: 3rem;
  margin-right: 3%;
}

.contact-left-text {
  font-size: 1.9rem;
}

.contact-right-side {
  // border: 1px dashed white;
  width: 100%;
}

@media (max-width: $mobile) {
  .contact-contact {
    flex-direction: column;
    padding: 0;
  }

  .contact-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
  }

  .contact-phone-container {
    width: 100%;
    justify-content: center;
  }

  .contact-left-text {
    text-align: center;
  }
}

// ContactImage

.contact-image {
  width: 100%;
  height: 40vh;
  border: 2px solid #f5931e;
  background-color: #011048;
}

.contact-image-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0% 30%;
  // opacity: 0.7;
}

@media (max-width: $mobile) {
  .contact-image {
    margin-bottom: 4%;
  }

  .contact-image-img {
    background-position: 59% 0%;
  }
}

// ContactForm

.contact-input-div {
  margin-bottom: 4%;
}

.contact-form-label {
  font-size: 2rem;
  margin-bottom: 2%;
}

.contact-name-input-div {
  display: flex;
  justify-content: space-between;
}

.contact-input {
  height: 4vh;
  width: 100%;
  padding-left: 1%;
  font-size: 1.8rem;
}

.contact-input-name {
  width: 48%;
  font-size: 1.8rem;
}

.contact-msg-input {
  height: 16vh;
}

.contact-submit-btn {
  height: 5vh;
  background-color: #011048;
  border: 2px solid white;
  color: #fff;
  width: 20%;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: $mobile) {
  .contact {
    padding: 8% 4%;
  }
  .contact-name-input-div {
    flex-direction: column;
  }

  .contact-input-name {
    width: 100%;
    margin-bottom: 6%;
  }

  .contact-input-name:last-of-type {
    width: 100%;
    margin-bottom: 0%;
  }

  .submit-button-wide {
    display: none;
  }

  .contact-submit-btn-container {
    display: flex;
    justify-content: center;
  }
}
