.about {
  //   border: 1px dashed black;
  height: 100vh;
  width: 100%;
}

.about-img-background {
  background-color: #011048;
  height: 60vh;
  position: relative;
}

.about-img {
  height: 100%;
  width: 100%;
  //   background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 58%;
  opacity: 0.7;
}

.about-img-text-container {
  //   border: 1px solid black;
  position: absolute;
  width: 50%;
  top: 12%;
  left: 12%;
  color: #fff;
}

.about-text-large {
  font-size: 3.2rem;
}

.about-text-headline {
  margin-bottom: 2%;
  font-weight: 700;
}

.about-text-normal {
  font-size: 1.8rem;
}

.about-text-services-container {
  width: 35%;
  height: 28vh;
  background-color: #011048;
  border: 2px solid #f5931e;
  border-radius: 6px;
  color: #fff;
  position: absolute;
  left: 10%;
  bottom: -18%;
  padding: 1.5%;
}

.about-service-li-div {
  display: flex;
  //   border: 1px solid black;
}

.about-service-li-icon {
  font-size: 3rem;
  margin-right: 2%;
}

.about-service-li-text {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

// ServiceArea

.about-service-area {
  display: flex;
  border: 1px dashed black;
  margin-top: 10%;
  background-color: #011048;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.about-service-area-headline {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  width: 20%;
  margin-right: 5%;
  height: 50vh;
  display: flex;
  align-items: center;
}

.about-serive-area-img {
  height: 50vh;
  border: 2px solid #f5931e;
  border-radius: 6px;
}
