$mobile: 900px;

.about {
  //   border: 1px dashed black;
  height: 100vh;
  width: 100%;
}

.about-img-background {
  // border: 2px solid red;
  background-color: #000;
  height: 60vh;
  position: relative;
}

.about-img {
  height: 100%;
  width: 100%;
  //   background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 58%;
  opacity: 0.6;
}

.about-img-text-container {
  //   border: 1px solid black;
  position: absolute;
  width: 50%;
  top: 12%;
  left: 12%;
  color: #fff;
}

.about-text-large {
  font-size: 3.2rem;
}

.about-text-headline {
  margin-bottom: 2%;
  font-weight: 700;
}

.about-text-normal {
  font-size: 1.8rem;
}

.about-text-services-container {
  width: 35%;
  height: 28vh;
  background-color: #000;
  border: 2px solid #aff719;
  border-radius: 6px;
  color: #aff719;
  position: absolute;
  left: 10%;
  bottom: -18%;
  padding: 1.5%;
}

.about-service-li-div {
  // border: 1px dashed white;
  display: flex;
}

.about-service-li-icon {
  font-size: 3rem;
  margin-right: 2%;
}

.about-service-li-text {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

@media (max-width: $mobile) {
  .about {
    height: 200vh;
    background-color: #011048;
  }

  .about-img-background {
    position: static;
    height: auto;
  }

  .about-img {
    height: 60vh;
    object-fit: cover;
    background-position: 98% 0%;
  }

  .about-img-text-container {
    // border: 1px dashed white;
    position: static;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 6% 3%;
  }

  .about-text-large {
    font-size: 2.5rem;
  }

  .about-text-services-container {
    // border: 1px dashed white;
    width: 100%;
    height: auto;
    position: static;
    padding: 6% 3%;
    border: none;
  }

  .about-text-services-headline {
    margin-bottom: 4%;
    text-align: center;
  }

  .about-service-li-div {
    margin-bottom: 3%;
  }
}

// ServiceArea

.about-service-area {
  display: flex;
  // border: 1px dashed black;
  margin-top: 10%;
  background-color: #000;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  // border: 2px solid white;
}

.about-service-area-headline {
  // border: 1px dashed white;
  font-size: 4rem;
  color: #aff719;
  text-transform: uppercase;
  width: 20%;
  margin-right: 5%;
  height: 50vh;
  display: flex;
  align-items: center;
}

.about-servive-area-img {
  height: 50vh;
  border: 2px solid #aff719;
  border-radius: 6px;
}

@media (max-width: $mobile) {
  .about-service-area {
    // display: none;
    position: static;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .about-service-area-headline {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    height: auto;
    padding: 3% 6%;
  }

  .about-servive-area-img {
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }
}
